#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#instruction {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  color: #f8f8f2;
}

#myCanvas {
  background-color: black;
  border: 4px solid  #282a36;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #44475a;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#clearButton {
  background-color: #ff5555;
  color: white;
}

#predictButton {
  background-color: #4CAF50;
  color: white;
}

#prediction {
  margin-top: 20px;
  font-size: 22px; 
  color: white;
}

a {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}